body {
  background-color: powderblue;
}
h1{
  
  font-family:"Arial Black", Gadget, sans-serif;
  color:crimson;
}
hr {
  height: 2px;
  border: none;
  background-color: black;
}
ul {
  list-style-type: square;
}
p{
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: blueviolet
  font-size: 15px;
}