/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: mediumpurple;
  font-family: "Ink Free";
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #ffffff;
}

h1 {
  font-family: "Ink Free", serif;
  font-size: 32px;
}

h2 {
  font-family: "Ink Free";
  font-size: 24px;
}
